<% layout('layouts/boilerplate') %> 
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/ASUS VivoBook Ultra 14.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">ASUS VivoBook Ultra 14</h5><br>
                <h5 class="card-text">Rs 58,990</h5><br>
                <a class="btn btn-primary" href="/products/619471301abf39d9599cebcf">View ASUS VivoBook Ultra 14</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/ASUS Core i9 10th Gen.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">ASUS Core i9 10th Gen</h5><br>
                <h5 class="card-text">Rs  249,990</h5><br>
                <a class="btn btn-primary" href="/products/619471a21abf39d9599cebe1">View ASUS Core i9 10th Gen</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/ASUS TUF Gaming F15.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">ASUS TUF Gaming F15"</h5><br>
                <h5 class="card-text">Rs 60,990</h5><br>
                <a class="btn btn-primary" href="/products/619472021abf39d9599cebf3">View ASUS TUF Gaming F15"</a>
            </div>
        </div>
    </div>
</div>

         

