<% layout('layouts/boilerplate') %> 
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/Apple iPhone 11 (64GB).png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Apple iPhone 11 (64GB)</h5><br>
                <h5 class="card-text">47,990</h5><br>
                <a class="btn btn-primary" href="/products/619480b66f4ce220d6149739">View Apple iPhone 11 (64GB)</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/Apple iPhone XR (128GB).png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Apple iPhone XR (128GB)</h5><br>
                <h5 class="card-text">Rs  38,999</h5><br>
                <a class="btn btn-primary" href="/products/6194818d6f4ce220d6149740">View Apple iPhone XR (128GB)</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/New Apple iPhone 12 Pro Max (256GB).png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">New Apple iPhone 12 Pro Max (256GB)</h5><br>
                <h5 class="card-text">129,900</h5><br>
                <a class="btn btn-primary" href="/products/619481d86f4ce220d6149747">View New Apple iPhone 12 Pro Max (256GB)"</a>
            </div>
        </div>
    </div>
</div>

         




