<% layout('layouts/boilerplate') %> 
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/Redmi Note 10T 5G.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Redmi Note 10T 5G</h5><br>
                <h5 class="card-text">16,999</h5><br>
                <a class="btn btn-primary" href="/products/61949d7458ded5240147f8b1">View Redmi Note 10T 5G</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/Xiaomi 11 Lite NE 5G.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Xiaomi 11 Lite NE 5G</h5><br>
                <h5 class="card-text">Rs  28,999</h5><br>
                <a class="btn btn-primary" href="/products/61949dd658ded5240147f8b8">View Xiaomi 11 Lite NE 5G</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/Redmi Note 10S.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Redmi Note 10S</h5><br>
                <h5 class="card-text">14,999</h5><br>
                <a class="btn btn-primary" href="/products/61949e3158ded5240147f8bf"> Veiw Redmi Note 10S"</a>
            </div>
        </div>
    </div>
</div>

         





