<% layout('layouts/boilerplate') %> 
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/Mi Watch Revolve Active.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Mi Watch Revolve Active</h5><br>
                <h5 class="card-text">6,999</h5><br>
                <a class="btn btn-primary" href="/products/6196018db79afd337c7ef4d3">View Mi Watch Revolve Active</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/Mi Watch Revolve Active.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Mi Watch Revolve Active</h5><br>
                <h5 class="card-text">Rs  8,499</h5><br>
                <a class="btn btn-primary" href="/products/6196018db79afd337c7ef4d3">View Mi Watch Revolve Active</a>
            </div>
        </div>
    </div>
</div>
<div class="card" mb-3 style="margin: 8px;box-shadow: 3px -3px 2px 0 rgb(0 0 0 / 15%);
background-color: #e1e8f6;">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="../photo/MI Smart Band 4.png">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">MI Smart Band 4</h5><br>
                <h5 class="card-text">1,699</h5><br>
                <a class="btn btn-primary" href="/products/619601dbb79afd337c7ef4da"> Veiw Redmi Note 10S"</a>
            </div>
        </div>
    </div>
</div>

         



